
<div class="partial">
<ul>
  <li><%= link_to 'アカウント', password_path(@password.id),:class=>"side-contents" %></li>
  <li><%= link_to 'プロフィール', edit_user_path(@user.id),:class=>"side-contents" %></li>
</ul>
</div>
